(
    lang: "zh-TW",
    paragraphs:[
        Paragraph(
            image: "png/loading.png",
            text: [
                Section(
                    text: "很久很久以前…",
                ),
                Section(
                    text: "多久以前啊",
                )
            ],
        ),
        Paragraph(
            image: "png/skillsandbufs.png",
            text: [
                Section(
                    text: "第二張圖",
                ),
                Section(
                    text: "嘿嘿",
                )
            ],
        )
        
    ]
)