(
    lang: "zh-TW",
    paragraphs:[
        Paragraph(
            image: "png/loading.png",
            text: [
                Section(
                    text: "很久很久以前…",
                ),
                Section(
                    text: "多久以前啊",
                )
            ],
            fade_in_duration: 0.,
        )
    ]
)