#![enable(implicit_some)]
#![enable(unwrap_variant_newtypes)]
(
    map:{
        "base_attack1": Skill (
            name: "base_attack1",
            skill_type: Melee,
            stun_value: 30,
            trigger_type: Action(Attack, 0.20, 0.25),
            total_duration: 0.30,
            damage_duration: 0.05,
            damage_lifetime: 0.25,
            is_directly_callable: true,
            allow_air: false,
            need_ground: true,
            allow_dash: false,
            attack_collider: "skills/skillcollider_base1.png",
            sfx: "sfx/27_sword_miss_1.ogg",
            animation: "attack1",
            chain_skill: ["base_attack2"],
        ),
        "base_attack2": Skill (
            name: "base_attack2",
            skill_type: Melee,
            stun_value: 30,
            trigger_type: Action(Attack, 0.20, 0.25),
            total_duration: 0.30,
            damage_duration: 0.05,
            damage_lifetime: 0.25,
            is_directly_callable: false,
            allow_air: false,
            need_ground: true,
            allow_dash: false,
            attack_collider: "skills/skillcollider_base2.png",
            sfx: "sfx/27_sword_miss_2.ogg",
            animation: "attack2",
            chain_skill: ["base_attack3"]
        ),
        "base_attack3": Skill (
            name: "base_attack3",
            skill_type: Melee,
            stun_value: 40,
            trigger_type: Action(Attack, 0.25, 0.25),
            total_duration: 0.35,
            damage_duration: 0.05,
            damage_lifetime: 0.3,
            is_directly_callable: false,
            allow_air: false,
            need_ground: true,
            allow_dash: false,
            attack_collider: "skills/skillcollider_base3.png",
            sfx: "sfx/27_sword_miss_3.ogg",
            animation: "attack3",
            chain_skill: []
        ),
        "air_attack": Skill (
            name: "air_attack",
            skill_type: Melee,
            stun_value: 30,
            trigger_type: Action(Attack, 0.25, 0.25),
            total_duration: 0.35,
            damage_duration: 0.05,
            damage_lifetime: 0.3,
            is_directly_callable: true,
            allow_air: true,
            need_ground: false,
            allow_dash: false,
            attack_collider: "skills/skillcollider_airattack.png",
            sfx: "sfx/27_sword_miss_3.ogg",
            animation: "air_attack",
            chain_skill: []
        )
    }
)